[user]
	name = masato-nakamura
	email = chariot1897@gmail.com
[pager]
        log = diff-highlight | less
        show = diff-highlight | less
        diff = diff-highlight | less

[color]
	ui = true
	diff = auto
	status = auto
	branch = auto
	interactive = auto
[core]
	editor = emacs
	excludesfile = /Users/masato/.gitignore_global
	precomposeunicode = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[alias]
	co = checkout
[push]
	default = simple
